@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Roboto', sans-serif;
}

canvas {
  margin: 0 auto;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #5f8;
  color: #222;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  transition-duration: 0.13s;
}

button:hover {
  opacity: 0.75;
}